<div *ngIf="!leaveThisPage">
  <div class="col-md-6">
<p>Nafn: {{name}}</p>
<p>Bransi: {{category}}</p>
<img id="detailsImgs" src="{{imgpath}}" alt="Picture of the seller" />
<button><a href="/seller/{{id}}/addproduct">Bæta við vöru</a></button>
<button><a href="/seller/{{id}}/editseller">Breyta seljanda</a></button>
<tabset>
  <tab heading="Allar vörur">
    <h4 *ngIf="noProducts">Seljandi hefur engar vörur skráðar</h4>
    <ul>
      <li *ngFor = "let p of productlist">
        {{p.name}}  <button><a href="/seller/{{id}}/editproduct/{{p.id}}">Breyta vöru</a></button><br>
        Verð: {{p.price}} kr. <br>
        <p *ngIf="p.quantityInStock>0">Á lager: {{p.quantityInStock}}</p>
        <p *ngIf="p.quantityInStock==0">Varan er uppseld!</p>
        <img id="prodImgs" src="{{p.imagePath}}" alt="Image of the product" />
      </li>
    </ul>
  </tab>
  <tab heading="Topp tíu vörur" onselect="console.log('what the shit, man\n')">
    <app-top-ten></app-top-ten>
  </tab>
</tabset>
</div>
</div>
<h1 *ngIf="leaveThisPage">404 Seller not found!</h1>
