<p>Nafn: {{name}}</p>
<p>Bransi: {{category}}</p>
<img id="detailsImgs" src="{{imgpath}}" alt="Picture of the seller" />
<button><a href="/seller/{{id}}/addproduct">Bæta við vöru</a></button>
<tabset>
  <tab heading="Allar vörur">
    <ul>
      <li *ngFor = "let p of productlist">
        {{p.name}}<br>
        Verð: {{p.price}} kr.
        <p *ngIf="p.quantityInStock>0">Á lager: {{p.quantityInStock}}</p>
        <p *ngIf="p.quantityInStock==0">Varan er uppseld!</p>
        <img id="prodImgs" src="{{p.imagePath}}" alt="Image of the product" />
      </li>
    </ul>
  </tab>  
  <tab heading="Topp tíu vörur" onselect="console.log('what the shit, man\n')">
    <app-top-ten></app-top-ten>
  </tab>
</tabset>
