<table class="table-striped">
  <thead>
    <th>Room</th>
    <th>Password</th>
  </thead>
  <tbody *ngFor="let room of rooms">
    <tr>
      <th>
        <a *ngIf="password"[routerLink]="['/room',room,password]">{{room}}</a>
        <a *ngIf="!password"[routerLink]="['/room',room]">{{room}}</a>
      </th>
      <th><input [(ngModel)]="password" /></th>
      <th>
        <button *ngIf="password" [routerLink]="['/room',room,password]">join</button>
        <button *ngIf="!password" [routerLink]="['/room',room]">join</button>
      </th>
    </tr>
  </tbody>
</table>
<form action="addRoom()">
  <input [(ngModel)]="newRoom" [ngModelOptions]="{standalone: true}"/>
  <button (click)="addRoom()">Add {{newRoom}}</button>
</form>