<h3>
  Bæta við seljanda
</h3>
<form action="postNewSeller()">
  <input type="text" placeholder="Nafn seljanda" required
    [(ngModel)]="newSeller.name" [ngModelOptions]="{standalone: true}">
  Nafn verslunarinnar/fyrirtækisins/aðilans sem þú ert að skrá
  (krafist)<br>
  <input type="text" placeholder="Flokkur" 
  [ngModelOptions]="{standalone: true}" [(ngModel)]="newSeller.category">
  Sá flokkur sem að vörur eða þjónusta seljanda falla undir
  (ekki krafist)<br>
  <input type="text" placeholder="Myndslóð" 
  [ngModelOptions]="{standalone: true}" [(ngModel)]="newSeller.imagePath">
  Vefslóð að mynd af seljandanum (ekki krafist) <br>
  <button (click)="postNewSeller()">Skrá seljanda</button>
  <!---<h4 *ngIf="notValidated">Nafns seljanda er krafist til að bæta við seljanda</h4>!-->
</form>