<h3>
  Bæta við seljanda
</h3>
<form action="postNewSeller()">
  <label>Nafn verslunarinnar/fyrirtækisins/aðilans sem þú ert að skrá</label>
  <input class="form-control" type="text" placeholder="Nafn seljanda" required
    [(ngModel)]="newSeller.name" [ngModelOptions]="{standalone: true}">
  <br>
  <label>Sá flokkur sem að vörur eða þjónusta seljanda falla undir</label>
  <input class="form-control" type="text" placeholder="Flokkur" 
  [ngModelOptions]="{standalone: true}" [(ngModel)]="newSeller.category">
  <br>
  <label>Vefslóð að mynd af seljandanum</label>
  <input class="form-control" type="text" placeholder="Myndslóð" 
  [ngModelOptions]="{standalone: true}" [(ngModel)]="newSeller.imagePath">
  <br>
  <button (click)="postNewSeller()">Skrá seljanda</button>
</form>