<h2>
  {{room}}
</h2>
<h3><a (click)="leaveRoom()" [routerLink]="['/home']">Back</a></h3>
<form action="checkPassword()" *ngIf="!validated && passwordRequired">
  <input [(ngModel)]="pass" [ngModelOptions]="{standalone: true}"
  placeholder="Password" required autofocus />
  <button (click)="checkPassword()">validate</button>
</form>
<div *ngIf="validated">
  <div id="chatDisplay">
    <p *ngFor="let msg of messageHistory">{{msg}}</p>
  </div>
  <form (submit)="sendMsg()">
    <input [(ngModel)]="message" [ngModelOptions]="{standalone: true}" />
    <button type="button" (click)="sendMsg()">send</button>
  </form>
</div>