.tool{
  display: inline-block;
}
.toolbar{
  background-color: grey;
}
#colours{
  float: right;
  background-color: grey;
}
.cSwitch{
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: inline-block;
  margin-left: 15px;
  background-color: thebos;
}
.cSwitch .activ{
  border: 4px solid white;
}
